<html>
  
  <head>
    <title>About MercPost</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-canvas.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
    <script>
      document.domain = 'divshot.com';
    </script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">MercPost</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="active">
                <a href="/">Home</a> 
              </li>
              <li>
                <a href="/about">About</a> 
              </li>
            </ul>
          </div>
          <form class="navbar-form pull-right">
            <input class="span2" type="text" placeholder="Email">
            <button type="submit" class="btn btn-primary">Sign Up!</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit">
        <h1>MercPost.</h1>
        <h3>Your b2b ecommerce solution.</h3>
        <p>MercPost is designed exclusively for your wholesale business.</p>
        <p>Brands, reps and retailers can easily facilitate and track orders, communicate, invoice and access robust sales reports.</p>
      </div>
      <div class="well">
        <br>
        <h4>We're currently in Beta mode and are looking for a few companies to try and break our platform!</h4>
        <h5>If that sounds like fun, fill out the info below and we'll get back to you ASAP.</h5>
      </div>
      <input type="text" class="input-medium" placeholder="Name">
      <br>
      <input type="text" class="input-medium" placeholder="Company">
      <br>
      <input type="text" class="input-medium" placeholder="Website">
      <br>
      <input type="text" class="input-medium" placeholder="Email">
      <br>
      <input type="text" class="input-medium" placeholder="Phone">
      <br>
      <textarea placeholder="Tell us a little about you. "></textarea>
      <br>
      <a class="btn btn-primary">Sign us up!</a><hr>
      <footer>
        <p>&copy; MercPost 2013</p>
      </footer>
    </div>
  </body>

</html>