<html>
  
  <head>
    <title>Welcome to MercPost!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/bootstrap-responsive.css">
    <link rel="stylesheet" href="https://djyhxgczejc94.cloudfront.net/builds/80037b02082b29f5f9cea127cab2a4ba4365ec67.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-util.css">
    <link rel="stylesheet" href="https://app.divshot.com/css/divshot-canvas.css">
    <script src="https://app.divshot.com/js/jquery.min.js"></script>
    <script src="https://app.divshot.com/js/bootstrap.min.js"></script>
    <script>
      document.domain = 'divshot.com';
    </script>
  </head>
  
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">MercPost</a>
          <div class="navbar-content">
            <ul class="nav ">
              <li class="active">
                <a href="#">Home</a> 
              </li>
              <li>
                <a href="#">About</a> 
              </li>
            </ul>
          </div>
          <form class="navbar-form pull-right">
            <input class="span2" type="text" placeholder="Email">
            <button type="submit" class="btn btn-primary">Sign Up!</button>
          </form>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="hero-unit">
        <h1>Welcome to MercPost!</h1>
        <p>MercPost is the b2b ecommerce platform that streamlines your wholesale business.</p>
        <p>Discovery, communication, ordering, tracking, invoicing and analytics. All made easy.</p>
        <p><a class="btn btn-primary btn-large" href="#"><span class="btn-label">Sign Up Today!</span></a> </p>
      </div>
      <div class="row main-features">
        <div class="span4">
          <div class="well">
            <h3>Discover.</h3>
            <p>Discover and connect with great brands and products you and your customers love.</p>
            <a class="btn btn-info" href="#"><span class="btn-label">Find Out More</span></a> 
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>Order.</h3>
            <p>No more&nbsp;emails,&nbsp;faxes, PDFs, or&nbsp;spreadsheets. Place orders with just a few clicks.</p>
            <a class="btn btn-info" href="#"><span class="btn-label">Find Out More</span></a> 
          </div>
        </div>
        <div class="span4">
          <div class="well">
            <h3>Analytics.</h3>
            <p>Quickly access easy to read reports to keep you on top of your wholesale accounts.&nbsp;</p>
            <a class="btn btn-info" href="#"><span class="btn-label">Find Out More</span></a> 
          </div>
        </div>
      </div>
    </div>
    <hr>
    <footer>
      <p>&copy; MercPost 2013</p>
    </footer>
  </body>

</html>